/* problem is boro display te gele div gula venge jacche */

* {
  margin: 0;
  padding: 0;
}
/* holiday containar */
.holiday-section-continar {
  max-width: 1320px;
  min-height: 986.07px;
  /* border: 2px solid blue; */
  margin-top: 100px;
  margin: 0 auto;
  position: relative;
}
.holiday-text-continar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.holiday-text-continar h5 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.holiday-text-continar h1 {
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
}
.holiday-text-continar p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.holiday-bacgroun-color {
  width: 1320px;
  height: 180px;
  background-color: rgb(255, 0, 0);
  position: absolute;
  top: 82%;
}
.gift-box {
  width: 674.82px;
  height: 577.96px;
  position: absolute;
  top: 33%;
  display: flex;
}
.boys-soping {
  width: 80px;
  height: 70px;
  position: relative;
  top: 84px;
  left: 126px;
}
.discount {
  position: absolute;
  top: -40%;
  left: -300%;
}

/* items set */
* {
  margin: 0;
  padding: 0;
}
.items {
  max-width: 1312px;
  min-height: 1140px;
  /* border: 2px solid red; */
  margin: 0 auto;
  margin-top: 50px;
}
.protflio #p1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
.protflio h2 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}
.protflio #p2 {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}
.itemss {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
  justify-content: center;
}
.item {
  width: 424px;
  height: 441.1px;
  border-radius: 16px;
  margin: 7px;
}
